<a href="https://colab.research.google.com/github/JatinAllamsetty27/Ideas-and-Implementations/blob/main/Simple%20Linear%20Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Simple** **Linear** **Regression** 
This notebook helps us to understand, how can we predict something called result by knowing two variables in a dataset.

In [1]:
#intialially we should import some modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#insert the dataset
data=pd.read_csv("Friends.csv")

In [3]:
data

         Name  Food Capacity Rating  Proposals Introvert
0     Tharun                    980       10.0        NO
1   Badrinath                   880        7.0        NO
2     Sharath                   920       21.0       YES
3      Deepak                   800        7.0       YES
4     Ashruth                   830        8.0       YES
5       Vamsi                   910        9.0       YES
6     Adithya                   860        5.0        NO
7       Komal                   790        NaN        NO
8      Vishnu                   890        7.0       YES
9       Siddu                   810        0.0        NO
10    Vinayak                   670        6.0        NO
11    Varshik                   850        8.0       YES
12     Charan                   840       32.0        NO
13    Krishna                   760       41.0       YES
14        Ram                   899       11.0       YES
15  Ramcharan                   990       32.0        NO
16     Saketh                   780        0.0       YES
17     Srikar                   700       19.0        NO
18  Sai Reddy                   810        4.0        NO

##Data Preprocessing

In [5]:
X = data.iloc[:,:-1].values  #independent variable array
y = data.iloc[:,1].values  #dependent variable vector

##Splitting the dataset

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=1/3,random_state=0)

##Fitting Linear Regression model in the dataset

In [9]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#actually produces the linear eqn for the data